<head>
    <link rel="stylesheet" href="/css/cart.css">
</head>

<div class="cart">
    <div class="cart-header">
        <a href="/" class="buymore">Mua thêm sản phẩm khác</a>
        <div class="cart-name">Giỏ hàng của bạn</div>
    </div>
    <div class="cart-body">
        {{#each products}}
        <div class="product">
            <div class="product-img">
                <img src="{{this.image}}" alt="photo">
            </div>
            <div class="product-name">
                <a href="{{this.slug}}"><b>{{this.name}}</b></a>
            </div>
            <div class="product-price">
                {{this.price}}đ
            </div>
        </div>
        {{/each}}
    </div>

    <div class="customer">
        <div class="customer-header">THÔNG TIN KHÁCH HÀNG:</div>
        <div class="gender">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="male" value="option1" checked>
                <label class="form-check-label" for="male">
                    Anh
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="female" value="option2">
                <label class="form-check-label" for="female">
                    Chị
                </label>
            </div>
        </div>
        <div class="name-phone">
            <div class="custom-name">
                <input class="form-control name-phone-form" type="text" placeholder="Họ Và Tên">
            </div>
            <div class="custom-phone">
                <input class="form-control name-phone-form" type="text" placeholder="Số điện thoại">
            </div>
        </div>

        <div class="address">
            <p>CHỌN ĐỊA CHỈ NHẬN HÀNG:</p>
            <div class="address-body">
                <div class="tinh-huyen">
                    <select class="form-control form-tinh">
                        <option>Chọn Tỉnh / Thành phố</option>
                        <option>Hà Nội</option>
                        <option>Nam Định</option>
                    </select>

                    <select class="form-control form-huyen">
                        <option>Chọn Quận / Huyện</option>
                        <option>Hà Nội</option>
                        <option>Nam Định</option>
                    </select>
                </div>

                <div class="xa-phuong">
                    <select class="form-control form-xa">
                        <option>Chọn Xã / Phường</option>
                        <option>Hà Nội</option>
                        <option>Nam Định</option>
                    </select>

                    <input class="form-control custom-address" type="text" placeholder="Số nhà, tên đường">
                </div>
            </div>
        </div>

        <input class="form-control more-info" type="text" placeholder="Yêu cầu khác (không bắt buộc)">
    </div>

    <div class="order">
        <div class="price">
            <div class="strong"><b>Tổng tiền:</b> </div>
            <div class="strong total-price"><b>19.000.000đ</b> </div>
        </div>
        <button class="final-total">ĐẶT HÀNG</button>
    </div>
</div>