<link rel="stylesheet" href="/css/cart.css">

<div class="nocart">
    <h1>Không có sản phẩm nào trong giỏ hàng</h1>
    <button onclick="window.location.href = '/';" class="btn btn-primary">Quay về trang chủ</button>
</div>