<link rel="stylesheet" href="/css/detail.css" />

<div id="data" data-slug="{{slug}}"></div>

<div class="detail">
    <h1 id="laptop_name">Laptop Lenovo IdeaPad Slim 3 15IIL05 i3 1005G1/4GB/512GB/Win10 (81WE003RVN)</h1>
    <div class="rowdetail">
        <div class="picture">
            <img id="laptop_img" width="400" height="400" src="">
            <img src="/img/bao-hanh.png" class="icon-imgNew cate44">
        </div>
    </div>

    <div class="price_sale">
        <div class="price"><strong>12.790.000đ</strong></div>
        <div class="area_promotion">
            <strong>Khuyến mãi trị giá 100.000₫ <i>Giá và khuyến mãi dự kiến áp dụng đến 23:00 31/01</i></strong>
            <div class="infopr">
                <span id="balo">Balo Laptop Lenovo</span>
                <span>Mua kèm Microsoft 365 Personal 1 năm chỉ còn 790,000đ</span>
                <span>Free Ship</span>
                <span>Hướng dẫn sử dụng, giải đáp thắc mắc sản phẩm</span>
            </div>
        </div>
        <div class="area_order">
            <a id="mua-ngay" class="buy_now"><b>Mua ngay</b><span>Giao hàng tận nơi hoặc nhận tại siêu thị</span></a>
        </div>
        <div class="callorder">
            <div class="ct"><span>Gọi đặt mua: <a href="tel:18001060">1800.1060</a> (miễn phí - 7:30-22:00)</span></div>
        </div>
    </div>

    <div class="rightInfo">
        <ul class="policy">
            <li class="inpr">
                <span>Bộ sản phẩm gồm: <a class="stdImg">Sách hướng dẫn, Thùng máy, Adapter sạc <i
                            class="icondetail-camera standkit"></i></a></span>
            </li>
            <li class="wrpr">
                <span>Bảo hành chính hãng 24 tháng.</span>
            </li>
            <li class="chpr">Lỗi là đổi mới trong 1 tháng.</li>
        </ul>
    </div>

    <div class="clearfix"></div>

    <h2>Thông số kỹ thuật</h2>
    <div class="tableparameter">
        <ul class="parameter">
            <li>
                <span>Hãng:</span>
                <div id="brand">Apple</div>
            </li>
            <li>
                <span>CPU:</span>
                <div id="cpu">Intel Core i5 Ice Lake, 1035G4, 1.10 GHz</div>
            </li>
            <li>
                <span>Tốc độ CPU:</span>
                <div id="cpu_speed">8 GB, DDR4 (On board), 3200 MHz</div>
            </li>
            <li>
                <span>RAM:</span>
                <div id="ram">SSD 512 GB M.2 PCIe</div>
            </li>
            <li>
                <span>Loại RAM:</span>
                <div id="ram_type">14 inch, Full HD (1920 x 1080)</div>
            </li>
            <li>
                <span>RAM tối đa:</span>
                <div id="ram_max">Card đồ họa tích hợp, Intel Iris Plus Graphics</div>
            </li>
            <li>
                <span>Tốc độ bus RAM:</span>
                <div id="ram_speed">Card đồ họa tích hợp, Intel Iris Plus Graphics</div>
            </li>
            <li>
                <span>Ổ cứng:</span>
                <div id="hard_drive">2 x USB 3.2, HDMI, USB Type-C</div>
            </li>
            <li>
                <span>Kích thước màn hình:</span>
                <div id="screen_size">Windows 10 Home SL</div>
            </li>
            <li>
                <span>Cổng kết nối:</span>
                <div id="connect_port">Dày 15.1 mm, 1.55 kg</div>
            </li>
        </ul>
        {{!-- Cột 2 --}}
        <ul class="parameter">
            <li>
                <span>Card màn hình:</span>
                <div id="card">Apple</div>
            </li>
            <li>
                <span>Công nghệ âm thanh:</span>
                <div id="sound">Intel Core i5 Ice Lake, 1035G4, 1.10 GHz</div>
            </li>
            <li>
                <span>Kết nối không dây:</span>
                <div id="wireless_connect">8 GB, DDR4 (On board), 3200 MHz</div>
            </li>
            <li>
                <span>Model sạc:</span>
                <div id="model_charge">SSD 512 GB M.2 PCIe</div>
            </li>
            <li>
                <span>Loại PIN:</span>
                <div id="pin_type">14 inch, Full HD (1920 x 1080)</div>
            </li>
            <li>
                <span>Hệ điều hành:</span>
                <div id="os">Card đồ họa tích hợp, Intel Iris Plus Graphics</div>
            </li>
            <li>
                <span>Kích thước:</span>
                <div id="size">2 x USB 3.2, HDMI, USB Type-C</div>
            </li>
            <li>
                <span>Trọng lượng:</span>
                <div id="weight">Windows 10 Home SL</div>
            </li>
            <li>
                <span>Chất liệu:</span>
                <div id="material">Vỏ kim loại, PIN liền</div>
            </li>
            <li>
                <span>Thời điểm ra mắt:</span>
                <div id="year">Dày 15.1 mm, 1.55 kg</div>
            </li>
        </ul>
    </div>

</div>

<h2 style="margin-left: 0; margin-top: 50px">Xem thêm sản phẩm cùng hãng</h2>
<div class="sameproduct">
    <div class="row"></div>
</div>

<script>
    fetch('/api/getLaptopBySlug/' + $('#data').data('slug'))
        .then(data => data.json())
        .then(async (laptop) => {
            const id = laptop.id;
            const brand = laptop.brand;
            var lp = laptop;
            $('.price strong').html(Intl.NumberFormat().format(laptop.price) + 'đ');
            $('#balo').html('Balo Laptop ' + laptop.brand);
            $('#laptop_img').attr('src', laptop.img);
            $('#laptop_name').html('Laptop ' + laptop.laptop_name);
            $('#mua-ngay').attr('href', `/cart/add/` + id);
            for (const property in laptop) {
                $(`#${property}`).html(laptop[property]);
            }
            if (!laptop.cnt) {
                $('#mua-ngay').html('Sản phẩm tạm thời hết hàng');
                $('#mua-ngay').css('height', '50px');
                $('#mua-ngay').removeAttr("href");
            }
            return brand;
        })
        .then(brand => {
            fetch('/api/getLaptopByBrand/' + brand)
                .then(data => data.json())
                .then(laptops => {
                    renderData(laptops, '.row', 5);
                })
        })

</script>