body{
    background-color: #f0f0f0;
}

a{
    color: #333;
    text-decoration: none;
}

a:hover{
    color: #333;
}

.cart{
    width: 50%;
    margin: 50px auto;
}

.cart-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buymore{
    font-size: 15px;
    color:#288ad6;
    margin-left: 8px;
}

.buymore:hover{
    color: #288ad6;
}

.buymore:before {
    content: "";
    width: 8px;
    height: 8px;
    border-top: 1px solid #288ad6;
    border-left: 1px solid #288ad6;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px 2px 0;
    transform: rotate(-45deg);
}

.cart-name{
    font-size: 15px;
    margin-right: 8px;
}

.cart-body{
    margin-top: 8px;
}

.product{
    width: 100%;
    height: 115px;
    background-color: #fff;
    border-bottom: 1px solid #d1d1d1;
    /* justify-content: center; */
}

.group{
    width: 100%;
    display: flex;
}

.product-img{
    width: 20%;
    float: left;
    margin-right: 0px;
    margin-left: 0px;
}

.product-img button{
    display: block;
    overflow: hidden;
    margin: 15px auto 0;
    border: 0;
    background: #fff;
    color: #999;
    font-size: 12px;
    cursor: pointer;
}

.product-img button:active{
    border: none;
}

img{
    width: 60%;
    margin-top: 8px;
    margin-left: 30px;
    margin-right: 0px;
}

.product-name{
    width: 50%;
    padding-top: 8px;
    font-size: 13px;
    margin-left: 0px;
    margin-top: 0;
}

.product-price{
    font-size: 15px;
    color: #f30c28;
    position: relative;
    top: 8px;
    left: 68px;
    /* margin-left:75px;
    margin-top: 8px; */
}

.customer{
    width: 100%;
    background-color: #ffffff;
    font-size: 15px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d1d1d1;
}

.customer-header{
    width: 100%;
    margin-left: 30px;
    padding-top: 8px;
}

.gender{
    display: flex;
    margin-top: 8px;
}

.form-check{
    margin-left: 30px;
}

.form-check-input{
    margin-top: 5px;
}

.form-check-label{
    margin-left: 6px;
}

.name-phone{
    display:flex;
    justify-content: space-between;
}

.custom-name{
    width: 43%;
    margin-left: 30px;
    margin-top: 12px;
}

.custom-phone{
    width: 43%;
    margin-top: 12px;
    margin-right: 30px;
}

.name-phone-form{
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
}

p{
    margin-left: 30px;
    margin-top: 20px;
}

.address-body{
    width: 90%;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding-top: 3px;
    padding-bottom: 12px;
    border: 1px solid #e1e1e1;
}

.tinh-huyen{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.form-tinh{
    width: 44%;
    height: 40px;
    font-size: 15px;
    color: #288ad6; 
    margin-left: 22px;
    border-radius: 5px;
    cursor: pointer;
}

.form-huyen{
    width: 44%;
    height: 40px;
    font-size: 15px;
    color: #288ad6; 
    margin-right: 22px;
    cursor: pointer;
    border-radius: 5px;
}

.xa-phuong{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.form-xa{
    width: 44%;
    height: 40px;
    font-size: 15px;
    color: #288ad6; 
    margin-left: 22px;
    cursor: pointer;
    border-radius: 5px;
}

.custom-address{
    width: 44%;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 22px;
    color: #288ad6;
}

.more-info{
    width: 90%;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 22px;
    margin-left: 30px;
    margin-top: 22px;
}

.order{
    width: 100%;
    height: 125px;
    font-size: 15px;
    background-color: #ffffff;
    padding-bottom: 150px;
}

.price{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.strong{
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 32px;
}

.total-price{
    color: #f30c28;

}

.final-total{
    width: 90%;
    height: 50px;
    margin-left: 30px;
    margin-top: 22px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    background: linear-gradient(180deg,#f79429,#f7712e);
}

/* Add */
.choosenumber{
    border: 1px solid #dfdfdf;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    float: right;
    position: relative;
    right: 22px;
    bottom: 35px;
}

.minus{
    float: left;
    border-right: 1px solid #dfdfdf;
    background: #fff;
    width: 32%;
    height: 28px;
    position: relative;
    cursor: pointer;
}

.choosenumber .minus i {
    width: 12px;
    height: 2px;
    background: #ccc;
    display: block;
    margin: 14px auto;
}

.choosenumber .number {
    font-size: 14px;
    color: #333;
    float: left;
    width: 33%;
    height: 30px;
    text-align: center;
    margin-top: 3px;
}

.choosenumber .plus {
    float: right;
    border-left: 1px solid #dfdfdf;
    background: #fff;
    width: 32%;
    height: 28px;
    position: relative;
    cursor: pointer;
}

.choosenumber .plus i:first-child {
    width: 12px;
    height: 2px;
    background: #288ad6;
    display: block;
    margin: 14px auto;
}

.choosenumber .plus i:nth-child(2) {
    width: 2px;
    height: 12px;
    background: #288ad6;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 9px;
    left: 0;
    right: 0;
}