.filter{
    padding: 10px 0;
    background-color: #fff;
    height: 96px;
    width: 100%;
}
.manu{
    padding: 0 0 11px 1px;
    overflow: hidden;
    width:100%;

}
.filter .manu a {
    float: left;
    width: 12.41%;
    border: 1px solid #eee;
    height: 40px;
    line-height: 40px;
    position: relative;
    margin: 0 0 -1px -1px;
    color: #288ad6;
    text-align: center;
}
.filter .manu a img {
    max-height: 70%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.filter .fl {
    margin-right: 20px;
    float: left;
}
.filter .fl label {
    color: #333;
}
.filter .fl * {
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
    line-height: 40px;
    font-size: 15px;
}
.filter .fl a {
    color: #288ad6;
    position: relative;
}

.need.qft {
    white-space: unset;
}
h3.title {
    display: block;
    clear: both;
    padding: 15px 0;
    font-size: 16px;
    border-top: 1px solid #eee;
}
.need.qft a {
    width: calc(100%/5 - 5px);
    margin-bottom: 15px;
}
.need a {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    position: relative;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    color: #333;
}
.need.qft a img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    max-width: 130px;
    padding-bottom: 10px;
}
.need a:not(:last-child):after {
    content: '';
    width: 2px;
    height: 50%;
    background-color: #eee;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}
.need {
    white-space: nowrap;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

