<link rel="stylesheet" href="/css/category.css">

<div class="filter">
    <div class="manu">
        <a href="/laptop/brand/MacBook"><img src="/img/MacBook.png" alt=""></a>
        <a href="/laptop/brand/Asus"><img src="/img/Asus.png" alt=""></a>
        <a href="/laptop/brand/HP"><img src="/img/HP.jpg" alt=""></a>
        <a href="/laptop/brand/Dell"><img src="/img/Dell.jpg" alt=""></a>
        <a href="/laptop/brand/Lenovo"><img src="/img/Lenovo.png" alt=""></a>
        <a href="/laptop/brand/Acer"><img src="/img/Acer.jpg" alt=""></a>
        <a href="/laptop/brand/MSI"><img src="/img/MSI.png" alt=""></a>
        <a href="/laptop/brand/LG"><img src="/img/LG.jpg" alt=""></a>
    </div>

    <div class="fl">
        <label>Chọn mức giá: </label>
        <a href="/laptop/filter?a=1&b=10">Dưới 10 triệu</a>
        <a href="/laptop/filter?a=10&b=15">10 - 15 triệu</a>
        <a href="/laptop/filter?a=15&b=20">15 - 20 triệu</a>
        <a href="/laptop/filter?a=20&b=25">20 - 25 triệu</a>
        <a href="/laptop/filter?a=25&b=99">Trên 25 triệu</a>
    </div>
</div>

<div class="need qft">
    <h3 class="title">Chọn nhu cầu:</h3>
    <div class="boxproperty  ">
        <a href="/" class=" " data-id="37697">
            <img src="/img/hoc-tap.jpg">
            <span>Học tập - Văn phòng</span>
        </a>
        <a href="/" class=" " data-id="81785">
            <img src="/img/do-hoa.jpg">
            <span>Đồ hoạ - Kỹ thuật</span>
        </a>
        <a href="/" class=" " data-id="37698">
            <img src="/img/mong-nhe.jpg">
            <span>Mỏng nhẹ</span>
        </a>
        <a href="/" class=" " data-id="37699">
            <img src="/img/gaming.jpg">
            <span>Laptop Gaming</span>
        </a>
        <a href="/" class=" " data-id="37700">
            <img src="/img/cao-cap.jpg">
            <span>Cao cấp - Sang trọng</span>
        </a>
    </div>
</div>
