<head>
    <link rel="stylesheet" href="/css/home-base.css ">
    <link rel="stylesheet" href="/css/home-main.css ">
</head>

<header class="header">
    <div class="header__grid">

        <nav class="header__navbar" id="navbar">
            <ul class="header__navbar-list">
                <li class="header__navbar-item"><a class="header__navbar-item-link link-home" href="/">Home</a></li>
                {{!-- <li class="header__navbar-item"><a class="header__navbar-item-link link-product" href="#">Products</a></li> --}}
            </ul>
            <ul class="header__navbar-list">
                <li class="header__navbar-item header__navbar-item-right"><a class="header__navbar-item-link link-login"
                        href="/cart"><i class="fas fa-shopping-cart"></i> Giỏ hàng</a></li>
                <li class="header__navbar-item header__navbar-item-right"><a class="header__navbar-item-link link-login"
                        href="/login"><i class="fas fa-sign-in-alt" style="margin-top: 0px"></i> Đăng nhập</a></li>
            </ul>
        </nav>
    </div>
</header>