<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Laptop</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome/css/all.min.css">
    <script src="/js/jquery.min.js"></script>
</head>

<body>
    {{{body}}}
</body>
</html>