<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/logo.png">
    <title>Giỏ hàng | Project 1</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome/css/all.min.css">
    {{!-- <link rel="stylesheet" href="/css/root.css"> --}}
    <link rel="stylesheet" href="/css/home-base.css ">
    <link rel="stylesheet" href="/css/home-main.css ">
    <link rel="stylesheet" href="/css/product.css">
    <script src="/js/jquery.min.js"></script>
</head>

<body>
    {{>header}}
    <div class="grid">
        {{{body}}}
    </div>
    {{!-- <script src="/js/jquery-3.5.1.slim.min.js"></script> --}}
    <script src="/js/bootstrap.bundle.min.js"></script>
    
</body>

</html>